name: Setup Index Repo

on:
  workflow_dispatch:  # allows manual trigger from Actions tab
#  push:
#    branches:
#      - master

permissions:
  contents: write
  actions: write

jobs:
  run-audit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium webdriver-manager
          pip install -r requirements.txt || echo "No requirements.txt found, skipping"

      - name: Run Setup Index
        run: python setup/index_deepwiki.py
